<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr />

<app-tab-list>
  <app-tab tabTitle="msweet">
      <iframe width="800px" height="1000px" src="https://www.msweet.org/htmldoc/"></iframe>
  </app-tab>
  <app-tab tabTitle="hello">
    <iframe  width="800px" height="1000px" src="https://blog.thoughtram.io/angular/2015/04/09/developing-a-tabs-component-in-angular-2.html#demos"></iframe>
  </app-tab>
</app-tab-list>

